/* styles.css */

/*
TODO: Dark mode errors: HTML needs to fill full sidepanel.
TODO: Dark mode color for other styles need to be assigned.
*/

:root {
    --background-light: #ffffff;
    --text-light: #000000;
    --background-dark: #ffffff;
    --text-dark: #000000;
    /* --background-dark: #1e1e1e;
    --text-dark: #ffffff; */
  }

.app-container {
    background-color: var(--background-light);
    /* Default to light theme */
    color: var(--text-light);
    /* Default to light theme */
}

.dark .app-container {
    background-color: var(--background-dark);
    /* Dark theme */
    color: var(--text-dark);
    /* Dark theme */
}

